.solidBorder{
    border-left-style:outset;
    border-top-style:outset;
    border-left-color: #ffffff;
    border-top-color: #ffffff;
    border-right-style: outset;
    border-bottom-style: outset;
    border-right-color: #808080;
    border-bottom-color: #808080;
    border-width: 1px;
}
.dotedBorder{
    border-style: dotted;
    border-width: 1px;
}
.cell{
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
}